<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎</title>
</head>
<script type="text/javascript">
    window.onload = function () {
        var username = document.cookie.split(";")[0].split("=")[1];
        if (username != null) {
            document.getElementById("welcome").innerHTML = username;
            document.getElementById("welcome").style.display = "block";
            document.getElementById("info").style.display = "none";
        } else {
            document.getElementById("welcome").style.display = "none";
            document.getElementById("info").style.display = "block";
        }
    }
</script>
<body>
    <div style="text-align: center">
        <h1>&nbsp;&nbsp;你好。</h1><br/>
        <h1>Hello.</h1>
        <h2><p id="welcome"></p></h2>
        <h2 id="info">您还未登录，请先<a href="LogIn">登录</a>或<a href="Register">注册</a> </h2>
    </div>
</body>
</html>