<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎</title>
</head>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/indexLoad.js"></script>
<body onload="indexLoad()">
    <h1 align="center">&nbsp;&nbsp;你好。</h1><br/>
    <h1 align="center">Hello.</h1>
    <div id="name"></div>
    <h2 id="user" align="center" style="display: none"><a href="userIndex">我的主页</a></h2>
    <h2 id="info" align="center" style="display: none">您还未登录，请先<a href="/login">登录</a>或<a href="Register">注册</a> </h2>
</body>
</html>