<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>用户登录</title>
</head>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#login_button").click(function () {
            var flag = Check();
            if (true === flag) {
                var json = {"username" : $("#username").val(),
                            "password" : $("#password").val(),
                            "backURL" : document.referrer};
                var json_str = JSON.stringify(json);
                $.ajax({
                    url: "/login",
                    type: "POST",
                    data : "json=" + json_str,
                    success: function (data) {
                        if (data.status === 0) {
                            alert("验证成功");
                            window.location.href = document.referrer;
                        } else {
                            alert("用户名或密码错误");
                        }
                    },
                    error: function () {
                        alert("提交错误");
                        window.location.href = "login";
                    }
                })
            }
        })
    });

    /**
     * @return {boolean}
     */
    function Check() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (null === username || "" === username) {
            alert("请输入用户名");
            return false;
        }

        if (null === password || "" === password) {
            alert("请输入密码");
            return false;
        }

        return true;
    }

    function Reset() {
        document.getElementById("username").value = null;
        document.getElementById("password").value = null;
    }

</script>
<body>
    <h2 style="text-align: center">用户登录</h2>
    <table border="0" align="center" style="font-size:13px" width="300">
        <tr>
            <td align="right" height="30">用户名:</td>
            <td><input id="username" name="username" class="text" type="text" value="" style="width:140px;margin-left:10px"/></td>
        </tr>
        <tr>
            <td align="right" height="30">密码:</td>
            <td><input id="password" name="password" class="text" type="text" value="" style="width:140px;margin-left:10px;"/></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input class="btn" value="登录" id="login_button" type="button" style="margin-top:10px"/>
                <input class="btn" value="重置" id="reset_button" type="button" onclick="Reset()" style="margin-left:20px"/>
            </td>
        </tr>
    </table>
</body>
</html>